@font-face {
  font-family: Avenir;
  src: url("Avenir\ Next.ttc") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Avenir";
}
p {
  margin: 0;
}
.nav,
.left,
.right {
  /* border: 1px solid black; */
  text-align: center;
}
.nav {
  background: red;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__elem {
  border: 1px solid black;
}
.nav__elem1 {
  border: 1px solid black;
  background: gold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}
.nav__spacetrics {
  background-image: url("./images/SPACETRICS.svg");
  background-repeat: no-repeat;
  width: 134px;
  height: 27px;
}
.nav__elem2 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.nav__smiley {
  background-image: url("./images/Group 17056.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
.nav__arrow {
  background-image: url("./images/Path 38263.svg");
  background-repeat: no-repeat;
  width: 11.091px;
  height: 11.091px;
  margin: 5%;
}
.center {
  display: flex;
  justify-content: center;
}
.left {
  background: blue;
  width: 50vw;
  height: 90vh;
}
.right {
  background: green;
  width: 50vw;
  height: 90vh;
}
