@font-face {
  font-family: Avenir Next Regular;
  src: url("./fonts/AvenirNext-Regular-08.ttf") format("truetype");
}
@font-face {
  font-family: Avenir Next M;
  src: url("./fonts/AvenirNext-Medium-06.ttf") format("truetype");
}
@font-face {
  font-family: Avenir Next DemiBold;
  src: url("./fonts/AvenirNext-DemiBold-03.ttf") format("truetype");
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  min-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}
.nav,
.left,
.right {
  text-align: center;
}
.nav {
  background: #ffffff;
  height: 9.9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(177, 190, 200);
  font-size: 16px;
  font-family: "Avenir Next M";
  color: #6a7074;
}
.nav__boxLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}
.nav__spacetrics {
  background-image: url("./images/nav/SPACETRICS.svg");
  background-repeat: no-repeat;
  width: 134px;
  height: 27px;
}
.nav__spacetricsMobile {
  display: none;
}
.nav__barsMobile {
  display: none;
}
.nav__boxRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.nav__smiley {
  background-image: url("./images/nav/Group 17056.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
.nav__arrow {
  background-image: url("./images/nav/Path 38263.svg");
  background-repeat: no-repeat;
  width: 11.091px;
  height: 11.091px;
  margin: 0 10% 0;
}
.center {
  display: flex;
  justify-content: center;
}
.leftBox {
  background: #34373c;
  width: 50vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 75px, 590px, 75px;
  grid-template-rows: 75px, 381px, 150px;
  color: #51a3ce;
}
.left__addressBox {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.left__address {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Avenir Next Regular";
}
.left_imgs {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left__topRightLogoLeft {
  background-image: url("./images/leftFloorPlan/Group 18843.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.left__topRightLogoRight {
  background-image: url("./images/leftFloorPlan/Rectangle 13414.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 11.5px;
  height: 20px;
}
.left__floorplan {
  background-image: url("./images/leftFloorPlan/Group 18879.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 45vw;
  height: 381px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}
.left__backBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.left__chevron {
  background-image: url("./images/leftFloorPlan/UI\ Icon-Icon-chevron--left-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 12px;
  margin: 0 5px;
}
.left__back {
  font-size: 14px;
  font-family: "Avenir Next DemiBold";
}
.rightBox {
  background: #ffffff;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right_tableContainer {
  width: 42vw;
  text-align: center;
}
.right_tableAssignments {
  margin: 2% 0;
  font-family: "Avenir Next Regular";
  font-size: 16px;
  color: #6a7074;
}
.right__tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
  font-family: "Avenir Next DemiBold";
  font-size: 16px;
  color: #152935;
}
.right__tableValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right__tableValuesName {
  margin-right: 5px;
}
.right__tableInfoLogo {
  background-image: url("./images/rightFloorInfo/Group 19107.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.right_tableRooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  overflow: auto;
}
.right_tableRoomValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  padding: 3% 0;
  box-shadow: 0px 1px 0px #bcbab8;
}
.right_tableRoomValuesLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.right_tableRoomValuesLeftLogoX {
  background-image: url("./images/rightFloorInfo/Group 19080.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 17px;
  height: 21px;
}
.right_tableRoomValuesText {
  font-family: "Avenir Next Regular";
  font-size: 16px;
  color: #6a7074;
}

.right_tableRoomValuesLeftPencile {
  background-image: url("./images/rightFloorInfo/UI Icon-Glyph-edit-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 15px;
}
.right_tableRoomValuesLeftTrash {
  background-image: url("./images/rightFloorInfo/UI Icon-delete-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 16px;
}
.right_tableRoomValuesRightDots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.right_tableRoomValuesRightDotPath {
  width: 16px;
  height: 16px;
  background: #72e5c2 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #00000076;
  opacity: 1;
  border-radius: 45px;
  margin: 0 5px;
}
.right__bottomButtonsWrapper {
  border-top: 0.5px solid rgb(177, 190, 200);
  width: 50vw;
  margin: 0;
}
.right__bottomButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: 46vw;
  height: 75px;
  font-family: "Avenir Next Regular";
  font-size: 14px;
}
.right__bottomButtonsSave {
  border: 1px solid #51a3ce;
  border-radius: 20px;
  opacity: 1;
  width: 110px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  align-content: center;
  display: flex;
  color: #51a3ce;
}
.right__bottomButtonsContinue {
  background: #51a3ce 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  margin-left: 5%;
  width: 110px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  display: flex;
  color: #ffffff;
}
.right__buttonText {
  margin: auto;
  text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .nav {
    background: #ffffff;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Avenir Next M";
    color: #6a7074;
  }
  .nav__boxLeft,
  .nav__boxRight {
    display: none;
  }
  .nav__spacetricsMobile {
    display: inline-block;
    background-image: url("./images/nav/SPACETRICS.svg");
    background-repeat: no-repeat;
    width: 134px;
    height: 30px;
    float: none;
  }
  .nav__barsMobile {
    display: inline-block;
    background-image: url("./images/nav/Group 19125.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
  }
  .nav__barsMobileBalance {
    display: inline-block;
    background-image: url("./images/nav/Group 19125.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    visibility: hidden;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .leftBox {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .rightBox {
    background: green;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
