@font-face {
  font-family: Avenir;
  src: url("./Avenir Next.ttc") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Avenir";
}
p {
  margin: 0;
}
.nav,
.left,
.right {
  /* border: 1px solid black; */
  text-align: center;
}
.nav {
  background: red;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__elem {
  border: 1px solid black;
}
.nav__elem1 {
  border: 1px solid black;
  background: gold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}
.nav__spacetrics {
  background-image: url("./images/nav/SPACETRICS.svg");
  background-repeat: no-repeat;
  width: 134px;
  height: 27px;
}
.nav__elem2 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.nav__smiley {
  background-image: url("./images/nav/Group 17056.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
.nav__arrow {
  background-image: url("./images/nav/Path 38263.svg");
  background-repeat: no-repeat;
  width: 11.091px;
  height: 11.091px;
  margin: 0 5% 0;
}
.center {
  display: flex;
  justify-content: center;
}
.left {
  background: #34373c;
  width: 50vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 75px, 590px, 75px;
  grid-template-rows: 75px, 381px, 150px;
  color: #51a3ce;
}
/* .left__elem {
  border: 1px solid black;
} */
.left__addressBox {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.left__address {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_imgs {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left__topRightLogoLeft {
  background-image: url("./images/leftFloorPlan/Group 18843.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.left__topRightLogoRight {
  background-image: url("./images/leftFloorPlan/Rectangle 13414.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 11.5px;
  height: 20px;
}
.left__floorplan {
  background-image: url("./images/leftFloorPlan/Group 18879.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 590px;
  height: 381px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}
.left__backBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.left__chevron {
  background-image: url("./images/leftFloorPlan/UI\ Icon-Icon-chevron--left-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 12px;
  margin: 0 5px;
}
.left__back {
  font-size: 14px;
}
.right {
  background: green;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right_tableContainer {
  width: 40vw;
}
.right__elem {
  border-top: 1px solid black;
}
.right__tableTitle,
.right__tableValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right__tableValues {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.right__tableInfoLogo {
  background-image: url("./images/rightFloorInfo/Group 19107.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.right_tableRooms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  overflow: visible;
}
.right_tableRoomValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}
.right_tableRoomValuesLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.right_tableRoomValuesLeftLogoX {
  background-image: url("./images/rightFloorInfo/Group 19080.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 17px;
  height: 21px;
}
.right_tableRoomValuesLeftPencile {
  background-image: url("./images/rightFloorInfo/UI Icon-Glyph-edit-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 15px;
}
.right_tableRoomValuesLeftTrash {
  background-image: url("./images/rightFloorInfo/UI Icon-delete-$ui-05.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 16px;
}
.right_tableRoomValuesRightDots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
}
.right_tableRoomValuesRightDotPath {
  width: 16px;
  height: 16px;
  background: #72e5c2 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #00000076;
  opacity: 1;
  border-radius: 30px;
}
.right__bottomButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: right;
  width: 40vw;
}
.right__bottomButtonsSave {
  border: 1px solid #51a3ce;
  border-radius: 20px;
  opacity: 1;
}
.right__bottomButtonsContinue {
  background: #51a3ce 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  margin-left: 5%;
}
